/pdb
/src/batch_pred_seq/
/src/batch_pred_struct/Benchmarks
/src/model/data
/src/model/data_corrections
/src/model/features/NF1/feature
/src/model/features/NF1/analysis.py
/src/model/features/NF1/analysis_7.pickle
/src/model/features/NF2/feature
/src/model/features/NF3/feature
/src/model/features/NF4/feature
/src/model/features/NF4/notacys.py
/src/model/features/NF5/
/src/model/nn/feature_analysis
/src/model/nn/weights.py
/src/model/nn/benchmark
/src/model/nn/gru.h5
/src/model/nn/gru.py
/src/model/nn/models
/src/model/nn/feature_selection