biopython==1.76
h5py==2.10.0
Keras==2.3.1
livelossplot==0.5.0
PROPKA==3.1.0
requests==2.22.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
sklearn==0.0
tensorflow-cpu==2.2.1
wget==3.2
whitenoise==5.0.1
xlrd==1.2.0
